---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";
import ContactSection from "@components/sections/misc/ContactSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import automation from "@images/automation-feat.png";
import apps from "@images/app-feat.png";
import acceleration from "@images/acceleration-feat.png";
// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"services">[] = (
  await getCollection("services", ({ id }) => {
    return id.startsWith("en/");
  })
).sort(
  (a: CollectionEntry<"services">, b: CollectionEntry<"services">) =>
    a.data.main.id - b.data.main.id
);

// Define variables for page content
const title: string = "Servicios";
const subTitle: string = "";

// Testimonial data that will be rendered in the component
const testimonials = [];

const pageTitle: string = `Services | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://fui.cl/es/services",
    url: "https://fui.cl/es/services",
    name: "Soluciones Digitales | Fuix",
    description:
      "Soluciones digitales innovadoras, diseñadas para maximizar el impacto y adaptarse a las necesidades de tu negocio.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://fuix.cl",
      name: "Fuix",
      description:
        "Fuix es un emprendimiento de desarrollo de software, enfocado en la creación de soluciones digitales.",
    },
    inLanguage: "es-ES",
  }}
>

  <!--Features statistics section-->
  <FeaturesStatsAlt
    title="Nuestros servicios"
    subTitle="Ofrecemos soluciones digitales innovadoras, diseñadas para maximizar el impacto y adaptarse a las necesidades de tu negocio."
    benefits={[
      "Más de 20 años de experiencia en desarrollo y tecnología, aplicados para entregar resultados excepcionales.",
      "Uso de inteligencia artificial y tecnologías de vanguardia para optimizar procesos y potenciar tus proyectos.",
      "Enfoque empático y personalizado para comprender y resolver los desafíos específicos de tu negocio.",
    ]}
  />
  <ClientsSection
    title="Confían en nosotros"
    subTitle=`Grandes empresas y pequeños emprendimientos han confiado en nuestra expertise.`
  />
  <FeaturesNavs
    title=`Podemos guiarte a través del proceso de creación de una <span class="text-yellow-500 dark:text-yellow-400">solución digital</span> que cumpla con las expectativas de tu negocio.`
    tabs={[
      {
        heading: "Aceleración Digital Empresarial",
        content:
          "Optimiza la experiencia de tus clientes con automatización y tecnología de vanguardia.",
        svg: "sparks",
        src: acceleration,
        alt: "Aceleración Digital Empresarial",
        first: true,
        link: "/es/services/aceleracion-digital-empresarial",
      },
      {
        heading: "Automatización y Mejora del Ciclo de Desarrollo",
        content:
          "Optimiza tu flujo de trabajo con DevOps y mejores prácticas de desarrollo.",
        svg: "hammer",
        src: automation,
        alt: "Automatización y Mejora del Ciclo de Desarrollo",
        link: "/es/services/automatizacion-mejoras-desarrollo",
      },
      
      {
        heading: "Desarrollo de Aplicaciones",
        content:
          "Transformamos ideas en aplicaciones funcionales y escalables.",
        svg: "device",
        src: apps,
        alt: "Desarrollo de Aplicaciones",
        link: "/es/services/desarrollo-aplicaciones",
      },
    ]}
  />
  <ContactSection />
  <!--Testimonials section-->
  <!-- <TestimonialsSectionAlt
    title="What Our Customers Say"
    testimonials={testimonials}
  /> -->
</MainLayout>
