---
import { Image } from "astro:assets";
import Icon from "../icons/Icon.astro";
import { servicesData, successStoriesData } from "@data/mega_link";
import { servicesDataEs, successStoriesDataEs } from "@data/es/mega_link";
import type { CollectionEntry } from "astro:content";

const productLocale = Astro.currentLocale;
let dataInput = servicesData;
dataInput = servicesDataEs;
---

<div
  class="hs-dropdown py-3 [--adaptive:none] [--strategy:static] md:px-3 md:py-4 md:[--strategy:absolute] md:[--trigger:hover]"
>
  <button type="button" class="flex items-center">
    <a
      href="/es/services/"
      class="rounded-lg text-base font-medium text-neutral-600 outline-none ring-zinc-500 hover:text-neutral-500 focus-visible:ring dark:text-neutral-400 dark:ring-zinc-200 dark:hover:text-neutral-500 dark:focus:outline-none md:py-3 md:text-sm 2xl:text-base"
      >{productLocale == "en" ? "Services" : "Servicios"}</a
    >
    <Icon name="chevronDown" />
  </button>

  <div
    class="hs-dropdown-menu right-36 z-10 hidden rounded-2xl bg-neutral-50 py-2 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:start-0 before:h-5 before:w-full hs-dropdown-open:opacity-100 dark:divide-neutral-700 dark:bg-neutral-800 md:min-w-80 md:p-4 md:shadow-2xl md:duration-[150ms]"
  >
    <div class="gap-4 md:grid md:grid-cols-1 lg:grid-cols-1">
      <div class="mx-1 flex flex-col md:mx-0">
        {
          dataInput &&
            dataInput.slice(0, 5).map((data) => (
              <a
                class="group flex gap-x-5 rounded-lg p-4 hover:bg-neutral-100 dark:text-neutral-200 dark:hover:bg-neutral-500/10"
                href={`/es/services/${data.url}/`}
              >
                <Icon name={data.icon} class="mt-1 size-5 flex-shrink-0" />
                <div class="grow">
                  <p class="font-medium text-neutral-800 dark:text-neutral-200">
                    {data.title}
                  </p>
                  <p class="text-sm text-neutral-500 group-hover:text-neutral-800 dark:text-neutral-400 dark:group-hover:text-neutral-200">
                    {data.description}
                  </p>
                </div>
              </a>
            ))
        }
      </div>
    </div>
  </div>
</div>
